@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
    font-family: "Raleway", sans-serif, "Noto Sans KR", sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    font-size: 15px;
    background-color: #eee;
}

a {
    color: #222;
    text-decoration: none;
}

.container {
}

header {
    border-bottom: 1px solid lightgray;
    background-color: #fff;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

section {
    /* border: 1px solid red; */
    height: calc(100vh - 60px);
    position: relative;
}

.login {
    /* border: 1px solid red; */
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-type {
}

.login-type h1 {
    margin-top: 0;
    font-size: 38px;
    text-align: center;
    font-weight: normal;
}

.btn {
    border: 1px solid lightgray;
    display: block;
    text-align: center;
    padding: 13px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 18px;
    opacity: 0.8;
    transition: 0.3s;
    color: #fff;
}

.btn:hover {
    opacity: 1;
}

.btn:nth-of-type(1) {
    color: #222;
    background: #fff url(./images/logo-mobile.png) no-repeat center left 13px;
}
.btn:nth-of-type(2) {
    background: #898c9b url(./images/logo-email.png) no-repeat center left 13px;
}
.btn:nth-of-type(3) {
    background: #11ce00 url(./images/logo-naver.png) no-repeat center left 13px;
}
.btn:nth-of-type(4) {
    background: #0076fe url(./images/logo-facebook.png) no-repeat center left
        13px;
}
.btn:nth-of-type(5) {
    background: #00c026 url(./images/logo-line.png) no-repeat center left 13px;
}

.login-footer {
}

.login-footer p {
    text-align: center;
}

.login-footer p a {
    font-weight: 600;
}

.login-footer p a:hover {
    text-decoration: underline;
}

.or-text {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.or-text:before,
.or-text:after {
    position: absolute;
    content: "";
    background-color: lightgray;
    height: 2px;
    width: 44%;
    top: 9px;
}

.or-text:before {
    left: 0;
}

.or-text:after {
    right: 0;
}
